body{
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.product{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

@import url('https://fonts.googleapis.com/css?family=Hind:300,400');
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
.container {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 6px;
  margin-top: 40px;
}
.container h2{
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.8;
    letter-spacing: 0.01px;
    text-align: left;
    color: #151b39;
    border-bottom: 1px solid rgba(21,27,57,0.04);
    padding: 15px;
    margin: 0;
}
h3 {
  font-size: 1.75rem;
  color: #373d51;
  padding: 1.3rem;
  margin: 0;
}
.show {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #151b39;
  font-size: 1.15rem;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
}
.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
}

.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  transition: all 0.2s ease 0.15s;
}
.accordion .content p {
  font-size: 1rem;
  font-weight: 300;
}
.accordion .content.active {
  opacity: 1;
  max-height: 100%;
  transition: all 0.35s ease 0.15s;
}
.content-ul{
    list-style: none;
}
.content-ul li{
    margin-bottom: 10px;
}
.content-ul li span{
    text-decoration: none;
    font-size: 17px;
    color: #6F7284;
    transition: all 0.2s ease;
    cursor: pointer;
}
.content-ul span:hover{
    color: #151b39;
}
.product-right{
    padding: 10px 35px 10px 20px;
}
.pro-img img{
    border-radius: 7px;
}

.sorting{
    display: flex;
    float: right;
    align-items: center;
}
.sorting .find{
  margin-left: 10px;
}

.find button{
  padding: 5px 20px;
  border: 0;
  background-color: #fff;
  border-radius: 4px;
  margin-right: 3px;
  transition: all 0.1s ease-in-out;
}
.find .Popularity{
  border:1px solid #24aeb1;
  color: #24aeb1;
}
.find button:hover{
  border:1px solid #24aeb1;
  color: #24aeb1;
}

.product-menu{
  margin-top: 65px;
  background-color: #fff;
  border-radius: 5px;
}
.product-menu h5{
  padding: 10px 0 0 20px;
  margin: 0;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;;
  line-height: 1.33;
  letter-spacing: 1px;
  color: rgba(21,27,57,.6);
}

.main{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.main .page{
  border: solid 1px rgba(112,112,112,.38);
  border-radius: 9px;
  height: 400px;
  padding: 0 6px;
  margin: 0 10px 10px 10px;
}
.page .pro-img{
  text-align: center;
}
.page h4{
  font-family: Lato;
  font-size: 14px;
  color: #151b39;
  letter-spacing: 0;
  margin: 4px 0 5px;
  height: 42px;
  text-align: center;
}
.brand{
  text-decoration: none;
  background-color: #f3f3f3;
  padding: 4px 10px;
  border-radius: 20px;
  color: #24aeb1;
  font-size: 10px;
}
.cate{
  text-decoration: none;
  background-color: #f3f3f3;
  padding: 4px 10px;
  border-radius: 20px;
  color: #24aeb1;
  font-size: 10px;
}
.page span{
    display: block;
    font-family: Lato;
    line-height: 16px;
    color: #6f7284;
    font-size: 15px;
    overflow: hidden;
    margin: 10px 0;
    white-space: nowrap;
}
.price{
  display: flex;
}
.price .best-pri{
  font-size: 16px;
  font-family: LatoBold;
  color: #6f7284!important;
  margin: 3px 0;
}
.price .sec-pri{
  color: #ef4281;
  font-size: 18px;
  font-family: LatoBold;
  white-space: nowrap;
  margin: 3px 0;
}
.price-2{
  display: flex;
  margin-bottom: 30px;
}
.price-2 .best-pri-2{
  font-size: 14px;
  font-family: LatoBold;
  color: #6f7284!important;
  margin: 7px 0;
}
.price-2 .sec-pri-2{
  font-size: 16px;
  font-family: LatoBold;
  white-space: nowrap;
  margin: 7px 10px;
}
.add-btn{
  text-align: center;
}
.add-cart{
  border: 0;
  text-decoration: none;
  background: #24aeb1;
  color: #fff;
  padding: 15px 59px;
  border-radius: 7px;
  cursor: pointer;
}


.sub{
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 15px;

}
.sub button{
  border: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #151b39;
  border-radius: 5px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.sub button i{
  visibility: hidden;
  font-size: 10px;
}
.sub button:hover{
  background-color: #24aeb1;
  border: 1px solid #24aeb1;
}
.sub button:hover i{
  visibility: visible;
  color: #fff;
}
.sub span{
  margin-left: 10px;
  font-family: Lato;
  color: #151b39;
  font-size: 16px;
}
.set{
  display: flex;
  align-items: center;
}
.incre{
  height: 39px;
  width: 39px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  line-height: 28px;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  font-size: 18px;
  color: #6f7284;
  text-align: center;
  margin-left: 20px;
}
.qty{
  font-size: 25px;
  margin: 0;
  font-family: 'Lato', sans-serif;
  z-index: 999;
}
.desc{
  height: 39px;
  width: 39px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  line-height: 28px;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  font-size: 18px;
  color: #6f7284;
  text-align: center;
  margin-right: 20px;
}